{% extends 'base.html' %}
{%block body%}
    <h1>
        FelippoDev Blog
    </h1>
    <p>I created this page for studying web development using the flask framework.</p>
    <p>This application is running on the GCP servers, using postgreSQL as the database.</p>
    <p>My Linkedin: <a href="https://www.linkedin.com/in/luiz-felippo-coelho/" target="_blank">linkedin.com/Luiz-Felippo</a></p>
    <p>My Github: <a href="https://github.com/FelippoDev" target="_blank">github.com/FelippoDev</a></p>
    <h2>Others WebApplication created using Flask:</h2>
    <h3>All my application were deployed in the aws servers.</h3>
    <p>A contact list: <a href="http://35.198.61.184" target="_blank">felippo-agenda.com</a></p>
{%endblock%}